
button{
    background-color: white;
    border: none;
    width: 163px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    font-weight:700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}