.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0 144px 206px 144px;

    .left-section{

        margin-right: 83px;

        h1 {
            font-size: 40px;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: center;
            width: 500px;
        }
    }

    img{
        width: 568px;
        height: 404px;
    }
}
