@media screen and (max-width:1200px){
    .grid-container {
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 121px;
      }
}