.nav__mobile{
    background-color: black;
    font-family: 'Smooch Sans', sans-serif;
    position: absolute;
    top: 150px;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        justify-content: space-around;
    }
}

.nav__mobile.show{
    display: flex;
}

@media screen and (min-width:650px){
    .nav__mobile.show{
        display: none;
    }
}